@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//main colors
$grey-hover: #808080;

$gold-color: #DAA520;

$link-hover: #95731C;

$light-grey: #d6d6d6;

$black: #000000;


//rectangle dimensions for style style guide
@mixin rectangle {
  height: 2rem;
  width: 10rem;
}

@mixin project-listing-text{
  z-index: 1;
  padding-top: 10rem;
}

@mixin detailed-view-margins {
  margin-left: 10rem;
  margin-right: 10rem;
}

@mixin grey-hover-transition {
  color: $grey-hover;
  transition-duration: 0.5s;
}

@mixin flex-wrap-center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* lines separating section - reference from style guide template */
.section-divider {
  padding-bottom: 2rem;
  margin-top: -1.5rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: white;
}

.section-divider-footer {
  margin-top: 10rem;
  margin-bottom: -10rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: white;
}

/* lines separating inner elements - reference from https://www.w3schools.com/howto/howto_css_dividers.asp */
.element {
  padding-bottom: 2rem;
  margin-top: -1.5rem;
  border-top: 3px dashed #bbb;
}

.element .container-footer {
  margin-bottom: 6rem;
}

.element .container-detailed-view h2 {
  margin-top: 1rem;
}

/* Styling for in-text link: */
.link {
  color: $gold-color;
  font-style: italic;
  transition-duration: 0.5s;

}

.link:hover{
  color: $link-hover;
  text-decoration: none;
  transition-duration: 0.5s;
}

.link:focus{
  outline-color: $gold-color;
}

/*nav button styling */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.3rem;
  // color: white;
  color: $gold-color;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  // border: 2px solid white;
  border: 2px solid $gold-color;
  transition-duration: 0.5s;
}

.button-nav:hover {
  // color: $grey-hover;
  // background-color: $light-grey;
  color: $link-hover;
  background-color: $gold-color;
}

.button-nav:focus {
  border-color: $gold-color;
  border: 3px solid $gold-color;
}

/* Styling for form buttons. Reference from https://www.tyssendesign.com.au/articles/css/styling-form-buttons/ */
.button-form {
  font-family: 'Nunito', sans-serif;
  font-size:1rem;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid white;
  /* transition-property: background-color; */
  transition-duration: 0.5s;
  width:5rem;
  height:2rem;
}

.button-form:hover {
  color: #FFF;
  background-color: $grey-hover;
}

.button-form:focus {
  outline-color: $gold-color;
}

/* Styling for text input fields. Reference from https://learn.shayhowe.com/html-css/building-forms/#text-and-textareas */
.input-text {
  background: #ededed;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
}

.input-text:hover {
  background: $grey-hover;
}

.input-text:focus {
  background: #e0e0e0;
  border-color: $light-grey;
  outline-color: $light-grey;
}

.input-text-label {
  display: block;
  font-weight: bold;
}

.input-text-contact-us {
  background: #ededed;
  border-radius: 5px;
  margin-bottom: 1rem;
  /* width: 30rem; */
  height: 2rem;
  width: 100%;
}

.input-text-contact-us:hover {
  background: $gold-color;
}

.input-text-contact-us:hover {
  background: $gold-color;
}

.input-text-contact-us:focus {
  background: #e0e0e0;
  border-color: $gold-color;
  outline-color: $gold-color;
}

/* Styling for image as a link. Reference from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
.image-link {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* making image respond to tab focus reference from http://jsfiddle.net/4x7wg7sb/1/ */
.imageAnchor:focus img{
  transition: transform 1.2s;
  transform: scale(1.1);
}

.larger-element {
  padding-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.image {
  width: 40rem;
}


/* Styling the colored boxes */
.rectangle {
  @include rectangle;
  background-color: #ededed;
}

.rectangle1 {
  @include rectangle;
  background-color: #ABABAB;
}

.rectangle2 {
  @include rectangle;
  background-color: $grey-hover;
}

.rectangle4 {
  @include rectangle;
  background-color: $black;
}

.rectangle5 {
  @include rectangle;
  background-color: $gold-color;
}

/* styling for the logo (my name)*/
.logo {
  margin-left: -2.5rem;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  transition-duration: 0.5s;
}

.logo:hover {
  color: $grey-hover;
  transition-duration: 0.5s;
}

.logo:focus{
  outline: $gold-color;
  color: $grey-hover;
}

.h2-sample {
  margin-top: 0rem;
  font-weight: lighter;
  font-family: 'Montserrat';
}

.container-header {
  padding-top: 16rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 3px;
  padding-bottom: 15rem;
}

/* end of reference for block image overlays */
.block {
  flex-grow: 1;
  padding: 2%;
}

/* side navbar reference from https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5rem;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: $grey-hover;
}

.sidenav a:focus {
  outline-color: $gold-color;
}

.sidenav .closebtn {
  position: absolute;
  right: 4.75rem;
  top: 2.5rem;
  font-size: 60px;
  margin-left: 50px;
}

.closebtn:focus{
  outline-color: $gold-color;
}
/* end of sidenav reference */


.icon-right-justified {
  position: absolute;
  right: 5.5rem;
  top: 4rem;
  transition-duration: 0.5s;
  font-size:30px;
  cursor:pointer
}

.icon-right-justified-styleguide {
  position: relative;
  align-self: flex-end;
  left: 95%;
  top:4rem;
  transition-duration: 0.5s;
}

.icon-right-justified:hover {
  @include grey-hover-transition;
}

.icon-right-justified:focus {
  outline-color: $gold-color;
  @include grey-hover-transition;
}

/* reference for drop down from https://stackoverflow.com/questions/35579569/hide-show-menu-onclick-javascript  */

.dropbtn {
  font-family: inherit;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  cursor:pointer;
}

.dropbtn:hover{
  color: $grey-hover;
}

.drop-content {
  display: none;
}

.drop-content a{
  margin-left: 2rem;
}

/* logo in the top left */
.topnav-left {
  float: left;
  padding-left: 5rem;
  padding-top: 1.5rem;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.topnav {
  position: absolute;
  overflow: hidden;
  justify-content: space-between;
   align-items: center;
}

/* header reference from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_header */
.header {
  width: auto;
  height: 150px;
  overflow: hidden;
  border: 5px solid black;
}

/* https://www.w3schools.com/howto/howto_css_image_text.asp */
.header-text {
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.header-text h1 {
  font-size: 5rem;
  margin-top: 0rem;
}

.header-text p {
  padding-top: 1rem;
}


/* crop for services header https://stackoverflow.com/questions/493296/css-display-an-image-resized-and-cropped */
.crop-header {
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.crop-header img {
  width: 100%;
  height: 100%;
  margin: 0px 0 0 0px;
  object-fit: cover;
}

/* Styling for footer */
.container-footer{
 justify-content: center;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 padding-bottom: 0rem;
 margin-bottom: 0rem;
}

.element .container-footer {
  padding-bottom: 10rem;
}

.container-footer a{
  padding: 15px;
}

.container-footer p{
  font-size: 1rem;
}

.block-footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.block-footer ul {
   list-style-type: none;
   margin-left: -3.5rem;
}

.block-footer li {
   padding-bottom: 1rem;
}

.block-footer p {
   margin-top: -1px;
}

button {
  border:none;
  background-color:transparent;
  color: white;
}

button:focus {
  outline-color: $gold-color;
}

h2 {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 3.5rem;
  font-family: 'Open Sans', sans-serif;

}

h1 {
  font-size: 4rem;
  margin-bottom: 0rem;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-size: 3rem
}

h4 {
  font-style: italic;
  font-family: 'Open Sans';
  font-size: 1.2rem;
  text-decoration: underline;

}

body {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
  margin-bottom: 0rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
  transition: background-color 1s ease;
}

p, h1, h2, h3 {
  color: white;
}



/* ~~~~~~~~~~~~~~~~~~~~ABOUT PAGE~~~~~~~~~~~~~~~~~~~~~~~ */

.container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 3px;
  margin-bottom: -20rem;
}

.header-img {
  width: 50rem;
}

.container-about {
  @include flex-wrap-center;
  padding-top: 10rem;
}

.container-about h1 {
  padding-top: 5rem;
}

.about-img {
  width: 40rem;
  height: 50rem;
  object-fit: cover;
}



.block-about p {
  width: 30vw;
}

.block-about h2 {
  max-width: 50rem;
  margin-top: 6rem;
  margin-bottom: 2rem;

}

/* ~~~~~~~~~~~~~~~~~~~~ CONTACT PAGE ~~~~~~~~~~~~~~~~~~~~~~~ */
.container-contact {
  @include flex-wrap-center;
  padding-top: 10rem;
  text-align: center;
}


.container-contact h1 {
  padding-top: 5rem;
}

.block-contact {
  z-index: 1;
  padding-bottom: 10rem;
}

.block-contact a{
  text-align: center;
}




/* ~~~~~~~~~~~~~~~PROJECTS OVERVIEW~~~~~~~~~~~~~~~~~~~~~ */
.container-projects {
  @include flex-wrap-center;
  padding-top: 0;
  margin-top: -15rem;
}

.container-projects h2 {
  color: white;
}

.block-projects {
  overflow: hidden;
  margin-top: 15rem;
}

.element .block-projects {
  margin-top: 10rem;
}

.element .container-contact {
  margin-top: -10rem;
  margin-bottom: 10rem;
}

.block-projects p {
  width: 30vw;
}

.block-projects h2 {
  max-width: 35vw;
}

// poster text
.block-projects:nth-of-type(1) {
  @include project-listing-text;
  margin-right: -10rem;
}

// motion graphic text
.block-projects:nth-of-type(4) {
  @include project-listing-text;
  margin-left: -10rem;
}

//project 3 text
.block-projects:nth-of-type(5) {
  @include project-listing-text;
  margin-right: -10rem;
}

//project 4 text
.block-projects:nth-of-type(8) {
  @include project-listing-text;
  margin-left: -10rem;
}

//project 5 text
.block-projects:nth-of-type(9) {
  @include project-listing-text;
  margin-right: -10rem;
}

.block-projects-img {
  position: relative;
  flex-grow: 1;
}

.section-divider .container-projects {
  margin-top: -9rem;
}

.projects-img {
  float: left;
  width: 50rem;
  height: 50rem;
  object-fit: cover;
}

.container-projects h2{
  margin-top: 0rem;
}

#project2-pic {
  order: 3;
}

#project2-desc {
  order: 4;
}

#project3-desc {
  order: 5;
}

#project3-pic {
  order: 6;
}

#project4-desc {
  order: 8;
}

#project4-pic {
  order: 7;
}

#project5-desc {
  order: 9;
}

#project5-pic {
  order: 10;
}

strong {
  margin-top: 3rem;
  font-size: 2rem;
  padding-top: 10rem;
}

/* reference for hover interactions from https://www.youtube.com/watch?v=ltxxNidblts */

.image-link {
  transition: transform 1.2s;
  float: left;
  width: 50rem;
  height: 50rem;
  object-fit: cover;
}

.image-link:hover {
  transition: transform 1.2s;
  transform: scale(1.1);
}

.image-link:focus {
  transition: transform 1.2s;
  transform: scale(1.1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~DETAILED PROJECT VIEW PAGES ~~~~~~~~~~~~~~~~~~~~~~~~~*/
.container-summary {
  @include detailed-view-margins;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15rem;
}

.container-summary h2 {
  margin-bottom: -1rem;
  padding-top: 5rem;
}

.block-summary {
  flex: 0 50%;
}

.block-summary p {
  padding-bottom: 2rem;
  margin-top: -2rem;
}

.container-detailed {
  @include detailed-view-margins;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20rem;
  justify-content: center;
}

.container-detailed h2.left-aligned{
  margin-bottom: 2rem;
}

.container-detailed .divider {
  margin-bottom: 0rem;
}

.container-detailed p {
  max-width: 35vw;
}

.almost-full-width-img {
  left: 50%;
  margin-left: -45vw;
  margin-right: -50vw;
  max-width: 90vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.block-detailed h3{
  margin-top: 20rem;
  margin-bottom: -1rem;
}

.block-detailed h2{
  margin-top: 20rem;
}

/* making sure these left-aligned blocks do not share a row with another block */
.block-detailed:nth-of-type(1), .block-detailed:nth-of-type(2), .block-detailed:nth-of-type(4), .block-detailed:nth-of-type(5), .block-detailed:nth-of-type(6), #reflection-poster, .block-detailed:nth-of-type(8), .block-detailed:nth-of-type(9), .block-detailed:nth-of-type(10) {
  flex: 0 100%;
}

/* right-aligning these blocks */
.block-detailed:nth-of-type(3), #animating-block, .block-detailed:nth-of-type(7) {
  align-self: flex-end;
  margin-left: auto;
}

/* moving the first block element closer to the top */
.block-detailed:nth-of-type(1){
  margin-top: -20rem;
}

.container-summary p, h3, h2 {
  color: white;

}

.container-detailed p, h3, h2 {
  color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~ KINETIC TYPOGRAPHY DETAILED VIEW ~~~~~~~~~~~~~~~~ */
.header-text-detailed {
  text-align: center;
}

.header-text-detailed h1 {
  font-size: 5rem;
  margin-top: 0rem;
}

.header-text-detailed p {
  padding-top: 1rem;
}

.img-style-guide {
  width: 20rem;
}

#citations {
  margin-top: 10rem;
}

/* responsive video embed, reference from https://www.ostraining.com/blog/coding/responsive-videos/ */
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border: 0;
}

/* dividers for site */
.divider {
  padding-bottom: 0.5rem;
  margin-top: -1.5rem;
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
  border-bottom-color: white;
}

.left-aligned {
  flex: 0 100%;
}

.right-aligned .divider {
  width: 100%;
  padding-bottom: 0.5rem;
  margin-top: -1.5rem;
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
  border-bottom-color: white;
}

/* arrow reference from https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
  margin-top: 7rem;
  border: solid white;
  width: 50px;
  height: 50px;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.small-arrow {
  border: solid white;
  width: 5px;
  height: 5px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* making the side navbar more accessible */
.active {
  visibility: visible;
  width: 25rem;
}

.inactive {
  visibility: hidden;
  width: 0;
}
